mixin footer ()
  .footer
    .content
      .columns
        .column
          h4.title Features
          .list-wrapper
            ul
              li
                a(href='https://finbox.io/integrations/excel') Spreadsheet Add-ons
              li
                a(href='https://finbox.io/screener') Stock Screener
              li
                a(href='https://finbox.io/watchlist') Watchlist

            ul
              li
                a(href='https://finbox.io/AAPL/models?search') Financial Models
              li
                a(href='https://finbox.io/explorer') Data Explorer

        .column
          h4.title Resources
          .list-wrapper
            ul
              li
                a(href='https://finbox.io/how-to') How To Guides
              li
                a(href='https://finbox.io/premium') Premium
              li
                a(href='https://api.finbox.io/beta') API

            ul
              li
                a(href='https://finbox.io/affiliates') Affiliates
              li
                a(href='https://finbox.io/faq') FAQ

        .column
          h4.title Company
          .list-wrapper
            ul
              li
                a(href='https://finbox.io/about') About Us
              li
                a(href='https://finbox.io/press') Press
              li
                a(href='https://blog.finbox.io') Blog

            ul
              li
                a(href='https://finbox.io/tos') Terms of Service
              li
                a(href='https://finbox.io/privacy') Privacy

      .disclaimer.
        Disclaimers: finbox.io is not operated by a broker, a dealer, or a registered
        investment adviser. Under no circumstances does any information posted on finbox.io
        represent a recommendation to buy or sell a security. The information on this site,
        and in its related emails and newsletters, is not intended to be, nor does it constitute
        investment advice or recommendations. The users may buy and sell securities before and
        after any particular article and report and information herein is published, with respect
        to the securities discussed in any article and report posted herein. In no event shall
        finbox.io be liable to any member, guest or third party for any damages of any kind arising
        out of the use of any content or other material published or available on finbox.io, or
        relating to the use of, or inability to use, finbox.io or any content, including, without
        limitation, any investment losses, lost profits, lost opportunity, special, incidental, indirect,
        consequential or punitive damages. Past performance is a poor indicator of future performance.
        The information on this site is in no way guaranteed for completeness, accuracy or in any other
        way. The users listed on this website are not affiliated with Levered Returns, LLC. Stock quotes
        provided by Quandl and Quotemedia. Fundamental company data provided by Quandl, Zacks, and SEC
        Edgar updated daily.
