mixin fonts ()
  script.
    var WebFontConfig = {
      google: { families: [ 'Droid Sans', 'Roboto:400,300,500:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })();

mixin viewport (content)
  meta(name='viewport' content=content)

doctype html
html
  head
    //-IE 10 Metro tile icon (Metro equivalent of apple-touch-icon):
    meta(name='msapplication-TileColor' content='#FFFFFF')
    meta(name='msapplication-TileImage' content='https://finbox.io/branding/favicon-144.png')
    //- Verification for Google Webmaster
    meta(name='google-site-verification' content='gjGSN5ILS28g311hgDfP9mXY0KSxIJY7yO_YQGgmtug')
    meta(name='google-site-verification' content='z289IP_KkJJz9igVoE0zuvWRkvl0_Za-6WmNIofpbsg')

    //- compatibility
    meta(name='http-equiv' content='IE=edge')
    meta(charset='utf-8')
    meta(name='fragment' content='!')

    block meta

    //--- Favicon Madness
    //- Normal
    link(ref='shortcut icon' type='image/ico' href='https://finbox.io/favicon.ico?v=4')
    //- Touch icon for iOS 2.0+ and Android 2.1+:
    link(link rel='apple-touch-icon-precomposed' href='https://finbox.io/branding/favicon-152.png')
    //- For iPad with high-resolution Retina display running iOS ≥ 7:
    link(rel='apple-touch-icon-precomposed' sizes='152x152' href='https://finbox.io/branding/favicon-152.png')
    //- For iPad with high-resolution Retina display running iOS ≤ 6:
    link(link rel='apple-touch-icon-precomposed' sizes='144x144' href='https://finbox.io/branding/favicon-144.png')
    //- For iPhone with high-resolution Retina display running iOS ≥ 7
    link(rel='apple-touch-icon-precomposed' sizes='120x120' href='https://finbox.io/branding/favicon-120.png')
    //- For iPhone with high-resolution Retina display running iOS ≥ 7
    link(rel='apple-touch-icon-precomposed' sizes='114x114' href='https://finbox.io/branding/favicon-114.png')
    //- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices:
    link(link rel='apple-touch-icon-precomposed' href='https://finbox.io/branding/favicon-57.png')

    +fonts()
    block styles

  body(style='opacity: 0;')
    block content

    //- Attach data to window
    script#state(type='x-state')!= JSON.stringify(data || {})

    block scripts
